* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  
}

body{
    background-color: #010922;
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(88, 86, 86, 0.3);
}


header .logo {
  position: relative;
  max-width: 80px;
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  list-style: none;
}
header ul li a {
  display: inline-block;
  color: white;
  font-weight: 100;
  text-decoration: none;
  transition: all 0.2s ease;
  border-radius: 20px;
  padding: 10px 20px;
}

a:hover {
  background-color: #ffffff;
  color: #333;
}
section .hero-img{
  height: 700px;
  margin: 0 auto;
  margin-top: 0;
}

.blur {
  width: 300px;
  height: 300px;
  background-color: #eaeaea;
  -webkit-clip-path: circle(50% at center);
  clip-path: circle(50% at center);
  filter: blur(5px); /* Apply a blur effect to the clipped area */
}